nav {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    padding-block: 1rem;
    pointer-events: none;
}

::deep a {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: var(--secondary-color);
    color: var(--text-color);
    text-decoration: none;
    pointer-events: all;
}

::deep a.active {
    background-color: var(--primary-color);
}

::deep a:first-child {
    border-start-start-radius: 1rem;
    border-end-start-radius: 1rem;
}

::deep a:last-child {
    border-start-end-radius: 1rem;
    border-end-end-radius: 1rem;
}
