<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView Resource="routeData" RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
            <NotAuthorized>
                <MainLayout>
                    <h1>Access Denied</h1>
                    <p>You do not have permission to view this page.</p>
                </MainLayout>
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
</Router>
