div {
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

h1 {
    grid-row: 1;
    grid-column: 1;
    justify-self: start;
    align-self: end;
    margin: 0 1rem;
    color: var(--text-color);
}

::deep form {
    grid-row: 2;
    grid-column: 1;
    justify-self: stretch;
    align-self: center;
    padding-inline: 3rem;
}

p label {
    display: block;
    color: var(--text-color);
    position: relative;
    margin-block-start: 2em;
}

p label span {
    position: absolute;
    transition: transform 0.15s ease;
    transform-origin: left;
    font-size: 1.1rem;
}

p label ::deep span:has(+ input:focus, + input:valid) {
    transform: translateY(-1.5rem) scale(0.8);
}

p label:focus-within span {
    color: var(--primary-color);
}

p label ::deep input {
    background: none;
    border: none;
    border-block-end: 1px solid var(--secondary-color);
    outline: none;
    color: var(--text-color);
    font-size: 1.2rem;
    transition: border-color 0.25s ease;
    width: 100%;
}
p label ::deep input:focus {
    border-block-end-color: var(--primary-color);
}

p:has(button) {
    margin-block-start: 4rem;
    text-align: center;
}

p button[type="submit"] {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 110%;
    text-decoration: none;
    border: none;
    border-radius: 1rem;
}
