@page "/"

<PageTitle>Home</PageTitle>

<div>
    <AuthorizeView>
        <Authorized>
            <NavLink>Create transaction</NavLink>
        </Authorized>
        <NotAuthorized>
            <NavLink href="/signin">Signing or create account</NavLink>
        </NotAuthorized>
    </AuthorizeView>
</div>
